/* common */
/* small screen */
body {
  margin: 0;
}

.img {
  background: pink;
  height: 100px;
}

.text {
  background: gray;
  height: 100px;
}

aside {
  display: none;
}

/* medium screen */
@media (min-width: 600px) {
  section {
    display: flex;
  }

  .img {
    width: 200px;
  }

  .text {
    flex: 1;
  }

}

/* large screen */
@media (min-width: 800px) {

  section {
    margin: 0 auto;
  }

  aside {
    display: block;
    background: plum;
    width: 160px;
  }


}

